<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flowbite Flask</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/output.css')}}"
    />
  </head>

  <body>
    <div
      class="max-w-5xl mx-auto mt-6 relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default p-4"
    >
      <div class="flex justify-center mb-4">
        <a
          href="Alumnos"
          class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2 text-center inline-block"
        >
          Agregar
        </a>
      </div>
      <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead
          class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium"
        >
          <tr>
            <th class="px-6 py-3 font-medium">ID</th>
            <th class="px-6 py-3 font-medium">Nombre</th>
            <th class="px-6 py-3 font-medium">Apellidos</th>
            <th class="px-6 py-3 font-medium">Email</th>
            <th class="px-6 py-3 font-medium">Teléfono</th>
            <th class="px-6 py-3 font-medium">Fecha</th>
            <th class="px-6 py-3 font-medium">Acciones</th>
          </tr>
        </thead>

        <tbody>
          {% for alum in alumno %}
          <tr
            class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium"
          >
            <td class="px-6 py-4">{{ alum.id }}</td>
            <td class="px-6 py-4">{{ alum.nombre }}</td>
            <td class="px-6 py-4">{{ alum.apellidos }}</td>
            <td class="px-6 py-4">{{ alum.email }}</td>
            <td class="px-6 py-4">{{ alum.telefono }}</td>
            <td class="px-6 py-4">{{ alum.created_date }}</td>
            <td class="px-6 py-4 whitespace-nowrap space-x-2">
              <a
                href="{{ url_for('alumnos.modificar', id=alum.id) }}"
                class="text-white bg-yellow-500 hover:bg-yellow-600 px-4 py-2 rounded-lg text-sm"
              >
                Editar
              </a>

              <a
                href="eliminar?id={{ alum.id}}"
                class="text-white bg-red-600 hover:bg-red-700 px-4 py-2 rounded-lg text-sm"
              >
                Eliminar
              </a>
              <a
                href="detalles?id={{ alum.id}}"
                class="text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-lg text-sm"
              >
                Detalles
              </a>
              <a
                href="{{ url_for('alumnos.ver_cursos_alumno', id=alum.id) }}"
                class="text-white bg-purple-600 hover:bg-purple-700 px-4 py-2 rounded-lg text-sm inline-block"
              >
                Cursos
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="mt-4 text-center">
        <a
          href="{{ url_for('index') }}"
          class="text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2 text-center inline-block"
        >
          Regresar al Inicio
        </a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
  </body>
</html>
