{% extends "layout.html" %} {% block container %}
<div class="group py-32 relative overflow-x-auto sm:rounded-lg">
  <div
    class="relative bg-neutral-primary-soft max-w-xs w-full p-6 border border-default rounded-base shadow-xs"
  >
    <div class="flex flex-col items-center">
      <img
        class="w-24 h-24 mb-6 rounded-full"
        src="{{ url_for('static', filename='img/usuario.png') }}"
        alt="Bonnie image"
      />
      <h5 class="mb-0.5 text-2xl font-semibold tracking-tight text-heading">
        {{nombre}} {{apellidos}}
      </h5>
      <h3 class="mb-2 text-lg tracking-tight text-gray-900 dark:text-white">
        Correo: {{email}}
      </h3>
      <h3 class="mb-2 text-lg tracking-tight text-gray-900 dark:text-white">
        Teléfono: {{telefono}}
      </h3>

      <a
        href="{{ url_for('alumnos.alumnos_a') }}"
        class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-block"
      >
        Regresar
      </a>
    </div>
  </div>
</div>
{% endblock %}
