<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Página No Encontrada - 404</title>
    <style>
      body {
        text-align: center;
        padding: 150px;
        font-family: sans-serif;
      }
      h1 {
        font-size: 50px;
      }
      body {
        font-size: 20px;
        color: #555;
      }
      a {
        color: #007bff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>404 - ¡Oops!</h1>
    <p>La página que buscas no existe o fue movida.</p>
  </body>
</html>
